<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="background: linear-gradient(5deg, rgba(0,0,0,1) -10%, rgb(144, 255, 165) 100%);">
    {% extends 'shop/layout/main.html' %}
    {% block content %}
        <section class="bg-light py-4 my-5" style="background: linear-gradient(5deg, rgba(0,0,0,1) -110%, rgb(144, 255, 165) 100%);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-3">Cart Items</h4>
                        <hr style="border-color: antiquewhite;">
                    </div>
                        {% for item in cart %}
                            {{item}}
                        {% endfor %}
                        <table class="table table-bordered" style="background: linear-gradient(5deg, rgba(0,0,0,1) -100%, rgba(51,249,220,1) 51%, rgb(144, 255, 165) 100%);">
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Unit</th>
                                <th>Remove</th>
                            </tr>
                            {% for item in fav %}
                            <tr>
                                <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product_name}}"></td>
                                <td>{{item.product.name}}</td>
                                <td>{{item.product.selling_price | stringformat:'d'}}</td>
                                <td><a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are you sure? to Remove')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Remove</button></td>
                            </tr>
                            {% endfor %}
                          
                        </table>
        </section>
   
    {% endblock content %}
</body>
</html>